SUPABASE_URL=https://***REMOVED***.supabase.co
SUPABASE_KEY=***REMOVED***
SUPABASE_ANON_KEY=***REMOVED***
SECRET_KEY=django-insecure-!@#your-secret-key-here!@#

SUPABASE_SITE_URL=https://d54f-2403-4800-3223-6f01-e8d7-a5f-65a1-2c5c.ngrok-free.app
SITE_DOMAIN=d54f-2403-4800-3223-6f01-e8d7-a5f-65a1-2c5c.ngrok-free.app
SITE_PROTOCOL=https
SUPPRESS_EMAIL_WARNINGS=true
SUPABASE_WEBHOOK_SECRET=***REMOVED***
NGROK_URL=https://d54f-2403-4800-3223-6f01-e8d7-a5f-65a1-2c5c.ngrok-free.app
SITE_URL=https://d54f-2403-4800-3223-6f01-e8d7-a5f-65a1-2c5c.ngrok-free.app
SUPABASE_SERVICE_KEY=***REMOVED***

# Enable user synchronization between Django and Supabase
SUPABASE_SYNC_ENABLED=true
DEBUG=true
#SMTP settings for email services
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SENDER_NAME=Nexus

EMAIL_HOST_PASSWORD=***REMOVED***
EMAIL_HOST_USER=***REMOVED***

MISTRAL_API_KEY=***REMOVED***



# Email verification settings
BYPASS_SUPABASE=False
AUTO_VERIFY_USERS=False

# Remove production settings reference
# DJANGO_SETTINGS_MODULE=mysite.production_settings
SENDER_EMAIL=***REMOVED***
